{% extends "search/base.html" %}
{% block content %}
<div class="container">
<h1 class="jumbotron"><strong>The Project details are as follow:</strong></h1>
<div class="content">
<ul class="tiles"> 
   <li>SQLite Database is created using the data given in meddata.csv file </li>
   <li> Drugs can be searched with both sku_name and salt_name </li>
   
</ul>

<ul class="tiles">
    <h3>Login Details for admin page:</h3>
<li>User name : Gaurav</li>
<li>Password : 123456789</li>
</ul>
</div>
</div>
{% endblock %}


